@import "tailwindcss";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* loading page */
/* .App-header {
  position: absolute;
  width: 390px;
  height: 844px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #007BFF;
} */

/* .EduLogo_Loading {
  position: absolute;
  width: 168.2px;
  height: 108px;
  left: 111px;
  top: 314px;
}  */

/* .EduSparkText_Loading {
  position: absolute;
  width: 347px;
  height: 40px;
  left: 24px;
  top: 422px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;
  border: 1px solid #007BFF;
} */ */

/* Sign up page */
/* .App-header2 {
  position: absolute;
  width: 390px;
  height: 844px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background: #ffffff;

} */

/* .Arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 21px;
  top: 65px;
} */

/* .Facebook_SignButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
  background-color: #ffffff;
  position: absolute;
  width: 317px;
  height: 49px;
  left: 37px;
  top: 572px;
  border: 1px solid #007BFF;
  border-radius: 5px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #007BFF;
  flex: none;
  order: 0;
  flex-grow: 0;
} */

/* .Google_SignButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
  background-color: #ffffff;
  position: absolute;
  width: 317px;
  height: 49px;
  left: calc(50% - 309px/2 - 2.5px);
  top: 636px;
  border: 1px solid #007BFF;
  border-radius: 5px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #007BFF;
  flex: none;
  order: 0;
  flex-grow: 0;
} */

/* .Create_your_account_txt {
  position: absolute;
  width: 319px;
  height: 65px;
  left: calc(50% - 319px/2 - 1.5px);
  top: 97px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #6C6C6C;
} */

/* .SignTextTitle {
  position: absolute;
  width: 347px;
  height: 40px;
  left: calc(50% - 347px/2 - 1.5px);
  top: 36px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #007BFF;
} */

/* .SignTxtLink {
  position: absolute;
  width: 225px;
  height: 15px;
  left: 81px;
  top: 700px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;

  color: #6C6C6C;
}

.SigningLink {
  font-weight: 700;
  font-size: 12px;
  line-height: 15.12px;
  letter-spacing: 2%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: Auto;
  color: #007BFF;

} */

/* #LineSignUp1 {
  position: absolute;
  width: 75px;
  height: 0px;
  left: 45px;
  top: 534px;
  border: 1px solid #6C6C6C;
  transform: rotate(180deg);
} */

/* #LineSignUp2 {
  position: absolute;
  width: 75px;
  height: 0px;
  right: 45px;
  top: 534px;
  border: 1px solid #6C6C6C;
  transform: rotate(180deg);
} */

/* #OrSignUpWith {
  position: absolute;
  width: 200px;
  height: 18px;
  left: 96.5px;
  bottom: 292px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;

  color: #007BFF;
} */

/* .SignUp-Header {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 6.5px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #007BFF;

} */

/* #ConfirmPassword_SU {
  position: absolute;
  width: 117px;
  height: 16px;
  left: 28px;
  top: 325px;
} */

/* .Email_INPUT {
  position: absolute;
  width: 35px;
  height: 16px;
  left: 31px;
  top: 171px;

} */

/* .Password_INPUT {
  position: absolute;
  width: 63px;
  height: 16px;
  left: 31px;
  top: 252px;
} */

/* .EmailBox_Input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 138px;
  position: absolute;
  width: 300px;
  height: 18.2px;
  left: calc(50% - 320px/2 - 4px);
  top: 200px;
  border: 1px solid #6C6C6C;
  border-radius: 5px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #6C6C6C;
  flex: none;
  order: 0;
  flex-grow: 0;

} */

/* .PasswordBox_Input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 138px;
  position: absolute;
  width: 300px;
  height: 18px;
  left: calc(50% - 320px/2 - 4px);
  top: 284px;
  border: 1px solid #6C6C6C;
  border-radius: 5px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #6C6C6C;
  flex: none;
  order: 0;
  flex-grow: 0;
} */

/* #ConfirmPasswordSignUp_Input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 138px;
  position: absolute;
  width: 300px;
  height: 18px;
  left: 30px;
  top: 357px;
  border: 1px solid #6C6C6C;
  border-radius: 5px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #6C6C6C;
  flex: none;
  order: 0;
  flex-grow: 0;

} */

/* .SignButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
  position: absolute;
  width: 324px;
  height: 50px;
  left: 32px;
  top: 424px;
  background: #007BFF;
  border: 1px solid #007BFF;
  border-radius: 5px;

  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
} */

/* Question page */
.Question {
  position: absolute;
  width: 347px;
  height: 40px;
  left: 25px;
  top: 105px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 1000;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #005965;
}

.Some-Question {
  position: absolute;
  width: 347px;
  height: 40px;
  left: 25px;
  top: 164px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #007BFF;
}

.Back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
  position: absolute;
  width: 225px;
  height: 50px;
  left: 83px;
  top: 741px;
  background: #000000;
  border-radius: 5px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
  position: absolute;
  width: 225px;
  height: 50px;
  left: 80px;
  top: 701px;
  background: #007BFF;
  border-radius: 5px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.options {
  position: absolute;
  width: 318px;
  height: 84px;
  background: #007BFF;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

#option1 {
  position: absolute;
  top: 256px;
  left: 38px;
}

#option2 {
  position: absolute;
  top: 361px;
  left: 38px;
}

#option3 {
  position: absolute;
  top: 466px;
  left: 38px;
}

#option4 {
  position: absolute;
  top: 571px;
  left: 38px;
}

.Ellipse {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 693px;
  border-radius: 50%;
}

#Ellipse-1 {
  left: 168px;
  background-color: #000000;
}

#Ellipse-2 {
  left: 181px;
  background-color: #C5C5C5;
}

#Ellipse-3 {
  left: 194px;
  background-color: #C5C5C5;
}

#Ellipse-4 {
  left: 207px;
  background-color: #C5C5C5;
}

/* P1 (PopUp1) Page */
.Group16 {
  position: absolute;
  width: 277px;
  height: 361.63px;
  left: calc(50% - 277px/2 + 0.5px);
  top: 64px;
}

#P1_Txt {
  position: absolute;
  width: 300px;
  height: 98px;
  left: 45px;
  top: 490px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 1200;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #007BFF;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.SignInButton-P1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
  position: absolute;
  width: 160px;
  height: 50px;
  left: calc(50% - 160px/2 - 83px);
  top: 630px;
  background: #007BFF;
  border: 1px solid #007BFF;
  box-shadow: 0px 2px 8px rgba(0, 67, 76, 0.25);
  border-radius: 5px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #D9EFF2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.SignUpButton-P1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
  position: absolute;
  width: 160px;
  height: 50px;
  left: calc(50% - 160px/2 + 92px);
  top: 630px;
  background: #ffffff;
  border: 1px solid #007BFF;
  border-radius: 5px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #00434C;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* SignIn page */
/* .ForgotPassword {
  position: absolute;
  width: 120px;
  height: 14px;
  left: 237px;
  top: 326px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #6C6C6C;
} */

/* .SignButton[name="signIn"] {
  top: 390px;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}